@media print{

    *{
        margin: 0;
        padding: 0;
    }

    body * {
        visibility: hidden;
        z-index: 0 !important;
      }

    button{
        visibility: hidden;
    }

    .container2{
        width: 99vw !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .container2, .container2 * {
        visibility: visible !important;
    }

    .backImage{
        position: absolute;
    }

}