@media print {


    #ad_logo_demand {
        left: 180px;
        bottom: 250px;
    }

    #ad_logo {
        left: 180px;
        bottom: 250px;
    }

    #nspl_below_logo {

        right: 600px;
        bottom: 290px;
    }

    #below_receipt {
        visibility: visible;
        display: block;
        background-color: red;
    }

    #border_text {
        height: 90%;
    }

    #nspl_logo {
        right: 25px;
    }

    #nspl_logo2 {
        top: 80px;
        right: 30px;
    }

    #receiptlogodemand {
        left: 30px;
        top: 65px;
    }

    #receiptlogoreprint {
        left: 30px;
        top: 75px;
    }

    #receiptlogo {
        left: 25px;
    }

    #receiptlogo2 {
        top: 65px;
        left: 40px;
    }

    #receiptlogocenter {
        left: 100px;
        top: 250px
    }

    @page {
        /* size: auto;   auto is the initial value */
        margin: 0 auto 0 auto;
        /* this affects the margin in the printer settings */
    }

    button {
        visibility: hidden;
    }

}